<div class="about_fumblr">
  <h2>About Fumblr</h2>
  <p>Fumblr is a blogging platform which allow users to register,login and post blogs with multiple types of media.</p>
  <p>In Fumblr, you can do:</p>
  <ul>
    <li>Create an new account with email address</li>
    <li>Write blogs with text and images</li>
    <li>Like and follow other people's blogs</li>
    <li>Get the top blogs and long reads</li>
  </ul>
</div>

