<form class="blog" action="/posts/new" method="post">
  <div class="blog_title">
    <button>Publish</button>
    <textarea name="title" id="title" cols="80" rows="1" placeholder="Title"></textarea>
  </div>
  <div class="add_file">
    <a href="/posts/addfile"><img src="https://cdn2.iconfinder.com/data/icons/55-files-and-documents/512/Icon_6-512.png" alt=""></a>
    <textarea name="body" id="body" cols="80" rows="20" placeholder="Write your blog"></textarea>
  </div>
</form>
