<div class="main_body">
  <div class="post_container">
    <div class="post">
      
    </div>
  </div>

  <div class="side_container">
    <div class="top_posts">
    
    </div>
    <div class="longreads">  
    </div>
  </div>
</div>
