<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fumblr</title>
  <link rel='stylesheet' href='/stylesheets/user.css'>
</head>
<body>   
  <h1><a href="/">Fumblr Blog</a></h1>

  <%= yield %>

</body>