<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Fumblr</title>
  <link rel='stylesheet' href='/stylesheets/main.css'>
  <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
  <!-- <script src="//cdn.tinymce.com/4/tinymce.min.js"></script> -->
</head>
<body>
  <header class="mian_header">
    <div class="right_header">
      <a id="newBlogBtn" href="/posts/new">Write a blog</a>
      <% if logged_in? %>
        <p id="user_email"><a href="/add_tags"><%= current_user.email %></a></p>
        <a id="logoutBtn" href="/logout">Logout</a>
        <% else %>
        <a id="loginBtn" href="/login">Login</a>
        <a id="register" href="/register">Register</a>
      <%end%>   
    </div>
    <div class="left_header">
      <div class="logo"></div>
      <h1 class="fumblr"><a href="/">Fumblr Blog</a></h1>
    </div>
  </header>
  <div class="navigator">
    <ul class="navi_list">
<!--       <li><a href="/">Home</a></li>
      <li><a href="/posts/myblog">My Blog</a></li>
      <li><a href="/posts/topstories">Top Stories</a></li>
      <li><a href="/about">About Fumblr</a></li> -->
      
      <% if request.path == '/' %>
        <li class="clicked_navigator"><a href="/">Home</a></li>
      <% else %>
        <li><a href="/">Home</a></li>
      <%end%>
      <% if request.path == '/posts/myblog' %>
        <li class="clicked_navigator"><a href="/posts/myblog">My Blog</a></li>
      <% else %>
        <li><a href="/posts/myblog">My Blog</a></li>
      <%end%>
      <% if request.path == '/posts/topstories' %>
        <li class="clicked_navigator"><a href="/posts/topstories">Top Stories</a></li>
      <% else %>
        <li><a href="/posts/topstories">Top Stories</a></li>
      <%end%>
      <% if request.path == '/about' %>
        <li class="clicked_navigator"><a href="/about">About Fumblr</a></li>
      <% else %>
        <li><a href="/about">About Fumblr</a></li>
      <%end%>
    </ul>
    <form class="searchBox" action="/search">
        <input type="search" name="keyword">
        <button>Search</button>
    </form>
  </div>

  <%= yield %>
<script type="text/javascript" src="/javascripts/application.js"></script>
</body>