<h2>Register</h2>
<form class="user_form" action="/register" method="post">
  <input type="text" name="email" placeholder="Email address">
  <input type="password" name="password" placeholder="Password">
  <input type="password" name="confirm_password" placeholder="Comfirm password">
  <button>Register</button>
</form>